[input_file]
fastq_dir = /TJPROJ1/DENOVO/PROJECT/libenping/ruanjianjie/yancao_hanyue/01.QC/DES01009_L1/01.Duplication/
fasta = /ifs/TJPROJ3/Plant/libenping/P2016080612_YC_lbp/pbjelly_1108/jelly.out.fasta
name = yancao
run_mode = all
iteration = 1

[bwa]
cpu = 20
queue = rad.q,all.q
opts = 

[pilon]
cpu = 70
memory = 100g
queue = rad.q,all.q
opts = 

